alias ws='./bin/webpack-dev-server'
alias cdp='cd ~/git/aubinlrx/'
alias cdw='cd ~/git/winddle/'
alias cdww='cd ~/git/winddle/winddle'
alias cdwp='cd ~/git/winddle/winddle-peeps'
alias 'ryarn'='rm -rf ./node_modules && yarn install'
alias rdb='bundle exec rake db:drop && bundle exec rake db:setup && bundle exec rake db:migrate'
alias rspec='bundle exec rspec'
alias cat='bat'
alias evim='vim ~/.config/nvim/init.vim'
alias ezsh='vim ~/.zshrc'
alias rzsh='source ~/.zshrc'
alias stt='sublime'
alias sskello='tmuxinator skello'
alias jira_branch='open https://skello.atlassian.net/projects/DEV/issues/$(git branch | grep \* | cut -d '\'' '\'' -f2)'
alias db='./bin/db'
alias open='xdg-open'
